.categoryBar-text{
    font-size: 15px;
    padding: 15px;

}

.categoryBar-container{
    padding: 10px 20px;
}

.categoryBar-arrow{
    max-width: 15px;
    max-height: 15px;
    margin: auto 5px auto auto;
}

.categoryBar-arrow:hover{
    cursor: pointer;
}

.toggleBar-container{
    margin: auto 0 auto auto;
}