.shoppingBasketItem-container{
    margin: 10px;
}

.shoppingBasketItem-image{
    max-width: 50px;
    max-height: 50px;
}

.shoppingBasketItem-icon{
    max-width: 40px;
    max-height: 40px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    padding: 3px;

    background-color: var(--basket-color);
}

.shoppingBasketItem-bin{
    max-width: 20px;
    max-height: 20px;
    margin-left: auto;
}

.shoppingBasketItem-text{
    margin-left: 10px;
    font-size: 15px;
}

.shoppingBasketItem-quantity{
    font-size: 20px;
    margin: 0 4px;
}

.shoppingBasketItem-quantity:hover{
    cursor: pointer;
}

.shoppingBasketIcon-container{
    display: flex;
    background: none;

    padding: 0;
    margin-left: auto;
    margin-top: 5px;

    transition: all 1s linear;
}

.shoppingBasket-container{
    background-color: var(--basket-color);
    width: 350px;
    min-height: 100vh;
}

.shoppingBasket-title{
    font-size: 25px;
    margin: 15px;
}

.shoppingBasket-subtitle{
    font-size: 20px;
    margin: 15px;
}

.shoppingBasket-cost{
    margin-top: auto;
}

.basketTransition{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}