.toggle-lever{
    background: #CD5C5C;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 5px;
    margin-left: 5px;
    transition: all 1s ease;
}

.toggle-container{
    background: lightgrey;
    width: 55px;
    height: 25px;
    border-radius: 15px;
    align-items: center;
    transition: all 1s ease;
}

.toggle-lever-on{
    margin-left: auto; 
    background: #228B22; 
    transition: all 1s ease;
}
